.WouldBeHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5vw
}
.LogoandSearch {
    width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.SearchContainer {
    display: flex;
    flex-direction: row;
    border: .1px solid #E6EAEF;
    align-items: center;
    border-radius: 12px;
}

.SearchIcon {
    margin-left: 10px;
}
.SearchContainer p {
    color: #777777;
    margin-right: 50px;
}

.actionbtns {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-right: 20px;
}

.login {
    border: .1px solid #777777;
    border-radius: 12px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}

.qualify {
    background-color: #D4B84D;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    /* color: black; */
    display: flex;
    align-items: center;
    text-align: center;
}

.qualify, h3 {
    color: black;
}

.signout {
    color: #777777;
}

.blurred {
    backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.3);
}