.casualOrCorporateContainer {
    display: flex;
    width: 100vw;
    height:100vh;
    /* padding: 200px; */
}

.parentToTheMini {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-bottom: 300px;
    gap: 200px;

}

.casualOrCorporateMiniContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gold-soft);
    padding: 50px;
    /* background-color: var(--soft); */
    border-radius: 24px;
}

.casualOrCorporateTitleCard {
    color: var( --gold-deep);
    font-weight: 200;
    font-size: 100px;
}

.casualOrCorporatedescription {
    /* color: var(--) */
}